body {
  font-family: system-ui, sans-serif;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
  margin: 0;
  padding: 16px;
}

canvas {
  display: block;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  background: white;
}

.controls {
  display: flex;
  margin: 1.5rem;
}

.control {
  margin-bottom: 12px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}
